body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff6b1, #b0dab9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c4dbdd, rgb(232, 252, 252)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  color: rgb(35, 59, 59);
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }


a:hover {
    opacity: .5;
    text-decoration: none;
}

a:link,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#header {
    background: rgba(0, 0, 0, 0);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    z-index: 5;
}
#header #header-content {
    margin: 10px;
}


/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../img/hero.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.fa-arrow-circle-down {
    margin-left: 5px;
}

.desktop-only {
    max-height: 40%
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fa-linkedin-in,
.fa-github-alt,
.fa-chevron-down,
.black {
    color:rgb(35, 59, 59);
}

.work {
    border-bottom: 1px solid rgb(141, 141, 141);
}

footer {
    font-size: .85em;
    border-top: 1px solid rgb(141, 141, 141);
    padding-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
}

.work-image {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

@media (min-width: 992px) {
.work {
    height: 100vh;
}


}
