$primary: #1f1f1f;
$whitish: rgb(253, 253, 253);

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/* HEADER STYLES */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: rgb(253, 253, 253);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  color: $primary;
}

a {
  color: $primary;
  text-decoration: none;
}

//HEADER STYLES

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* MOBILE NAVBAR */

.mobile-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @include for-tablet-portrait-up {
    display: none;
  }
}

.hamburger {
  margin-right: 1rem;
  margin-left: 30%;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  background-color: $primary;
  height: 1px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $primary;
  // disable horizontal scroll
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  .close {
    color: $whitish;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3.2rem;
    z-index: 3;
    margin: 10px 10px 0 0;
    background-color: $primary;
    border: none;
  }
}

.menu-items-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;

  a {
    margin: 10px 0;
  }
}

.social-btn-mobile,
.about-btn-mobile,
.projects-btn-mobile {
  color: $whitish;
  text-align: center;
}

.social-expanded {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  a {
    color: white;
    font-size: 3rem;
    margin: 10px 0;
  }
}

.logo-mobile {
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  border: 5px solid #1f1f1f;
  padding: 0.5rem 0.8rem;
  font-size: 1.8rem;
  position: relative;
}

.logo-mobile:hover,
.logo-mobile:active {
  background-color: $primary;
  color: $whitish;
}

.o-mobile {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid $primary;
}

.dot-mobile {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 40%;
  border: 1.5px solid $primary;
  bottom: 12%;
  border-radius: 50%;
  display: inline-block;
}

//DESKTOP NAVBAR

.desktop-navbar {
  display: none;

  @include for-tablet-portrait-up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.social-btn-desktop {
  position: relative;
  margin-left: 3.2rem;
  cursor: pointer;
}

.social-btn-desktop:hover {
  .hidden-social-menu {
    visibility: visible;

    .social-items-desktop::before {
      visibility: visible;
    }
  }
}

.menu-btn-desktop {
  position: relative;
  margin-right: 3.2rem;
  cursor: pointer;
}

.menu-btn-desktop:hover {
  .hidden-menu {
    visibility: visible;

    .menu-items-desktop::before {
      visibility: visible;
    }
  }
}

//position the menu absolutely to the menu button
.hidden-menu {
  position: absolute;
  right: 0;
  bottom: -8rem;
  visibility: hidden;
}

.hidden-social-menu {
  position: absolute;
  left: 0;
  bottom: -11rem;
  visibility: hidden;
}

//display the items inside the menu in flex and position relative so that we can style the triangle
.menu-items-desktop {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  position: relative;
  transition: all 0.5s;

  a {
    color: $whitish;
    width: 100%;
    display: inline-block;
  }
}

.menu-items-desktop::before {
  content: '\a';
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $primary transparent;
  position: absolute;
  top: -10px;
  right: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
  visibility: hidden;
}

.social-items-desktop {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  position: relative;
  transition: all 0.5s;

  a {
    color: $whitish;
    width: 100%;
    display: inline-block;
  }
}

.social-items-desktop::before {
  content: '\a';
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $primary transparent;
  position: absolute;
  top: -10px;
  left: 1.6rem;
  transform: translateX(-50%);
  transition: all 0.5s;
  visibility: hidden;
}

//making the buttons on the social hover menu align
.email-btn-desktop {
  margin: 1rem 1rem 0.5rem 1rem;
}

.linkedin-btn-desktop {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.github-btn-desktop {
  margin: 0.5rem 1rem 1rem 1rem;
}

.about-btn-desktop {
  margin: 1rem 1rem 0.5rem 1rem;
}

.projects-btn-desktop {
  margin: 0.5rem 1rem 1rem 1rem;
}

.logo-desktop {
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  border: 6px solid $primary;
  padding: 0.5rem 0.8rem;
  font-size: 2.5rem;
  position: relative;
}

.o-desktop {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid $primary;
}

.dot-desktop {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 40%;
  border: 1.5px solid $primary;
  bottom: 12%;
  border-radius: 50%;
  display: inline-block;
}

//MAIN HERO

.header-text {
  margin: 1.6rem;
  line-height: 1.5;
  color: $primary;
  font-family: 'Antic Didone', 'Didot', serif;
  letter-spacing: 0.8px;
  text-align: center;

  span {
    // border-bottom: 1px solid rgba(192, 192, 192, 0);
    position: relative;
  }

  span:after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    display: block;
    background: $primary;
    -webkit-animation: underline 1s 0.5s forwards;
    animation: underline 1s 0.5s forwards;
  }

  @-webkit-keyframes underline {
    0% {
      content: '';
      width: 0px;
      height: 2px;
      position: absolute;
      display: block;
      background: $primary;
    }

    100% {
      width: 100%;
      left: 0;
      background: $primary;
    }
  }

  @keyframes underline {
    0% {
      content: '';
      width: 0px;
      height: 2px;
      position: absolute;
      display: block;
      background: $primary;
    }

    100% {
      width: 100%;
      left: 0;
      background: $primary;
    }
  }
}

.welcome-btn {
  border: 3px solid $primary;
  background-color: $whitish;
  margin-bottom: 1.6rem;
  color: $primary;
  padding: 10px;
}

.welcome-btn:hover,
.welcome-btn:active {
  background-color: $primary;
  color: $whitish;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MAIN STYLES */

.title {
  font-family: 'Antic Didone', 'Didot', serif;
  letter-spacing: 0.8px;
}

.about {
  margin: 1.6rem;

  @include for-tablet-portrait-up {
    padding: 3.2rem;
  }

  @include for-tablet-landscape-up {
    padding: 4.8rem;
  }
}

.me-container {
  border: 2px solid $primary;
}

.me-landscape {
  background-color: $whitish;
  background: url('../images/me-landscape.jpg');
  height: 175px;
  border: 0.25rem solid transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;

  @include for-tablet-portrait-up {
    height: 250px;
  }

  @include for-tablet-landscape-up {
    height: 300px;
  }

  @include for-desktop-up {
    height: 350px;
  }

  @include for-big-desktop-up {
    height: 400px;
  }
}

.about-description {
  line-height: 1.6;

  @include for-tablet-portrait-up {
    font-size: 2rem;
  }

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
  }
}

/* PROJECTS SECTION */

.projects {
  margin: 1.6rem;

  @include for-tablet-portrait-up {
    padding: 3.2rem;
  }

  @include for-tablet-landscape-up {
    padding: 4.8rem;
  }
}

.one {
  background: url('../images/space-dash.png');
}

.two {
  background: url('../images/stagebright.png');
}

.three {
  background: url('../images/chee-yun.png');
}

.four {
  background: url('../images/wow-iss.png');
}

.five {
  background: url('../images/ateball.png');
}

.carousel-cell {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center center;
  background-clip: padding-box;

  @include for-tablet-portrait-up {
    height: 250px;
  }

  @include for-tablet-landscape-up {
    height: 300px;
  }

  @include for-desktop-up {
    height: 350px;
  }

  @include for-big-desktop-up {
    height: 400px;
  }
}

//adds white space after picture
.carousel-container {
  margin: 2.25px;
}

.carousel-border {
  border: 2px solid $primary;
}

/* CAROUSEL SETTINGS */

.flickity-button {
  background: hsla(0, 0%, 100%, 0);
}

.flickity-button-icon {
  fill: #eaeaea;
}

.flickity-button:hover {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.project-title {
  letter-spacing: 0.2rem;
}

.project-description {
  h4 {
    margin-top: 4.8rem;
    text-align: center;
  }

  p {
    line-height: 1.6;
  }

  .technologies {
    max-width: 30px;
    max-height: 30px;
    margin: 0 5px;
  }

  @include for-tablet-portrait-up {
    font-size: 2rem;
  }

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
  }
}

/* EMAIL CALL TO ACTION */

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.6rem;
  margin-top: 4.8rem;
  border-top: 1px solid #ded2d2;
  border-bottom: 1px solid #ded2d2;
}

.email-btn {
  border: 3px solid $primary;
  background-color: $whitish;
  padding: 10px;
  color: $primary;
  -webkit-margin-after: 1.6rem;
  margin-block-end: 1.6rem;
}

.email-btn:hover {
  background-color: $primary;
  color: $whitish;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.6rem 0 3.2rem 0;
}
