html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #272626;
  background-image: url('hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: rgb(190, 190, 190);
}

a:hover {
  color: rgb(92, 92, 92);
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

p {
  text-align: center;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
}

.flex img {
  max-width: 40px;
  height: auto;
  align-self: center;
  margin-right: 10px;
}

.description {
  overflow-y: scroll;
  max-height: 100px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.page-title {
  position: fixed;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  color: #fcfaf1;
  line-height: 1.5;
  font-size: 1rem;
  z-index: -3;
}

.page-title h1 {
  font-size: 1.5rem;
}

.card-checkbox {
  display: none;
}

.about-me {
  font-size: 0.8rem;
  overflow-y: scroll;
}

.card {
  box-sizing: border-box;
  position: fixed;
  padding: 5px;
  top: 85%;
  left: 50%;
  width: 80%;
  height: 60%;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg) translateX(-50%);
  z-index: -3;
  /* background-color: #ddd; */
  color: #181818;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  transition: all 0.75s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
  align-items: center;
  color: #fcfaf1;
  border: none;
}

/* OVERLAY */
.card::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -2;
  text-align: center;
}

.space-dash {
  background-image: url('space-dash.png');
  background-size: cover;
  background-position: center center;
}

.stagebright {
  background-image: url('stagebright.png');
  background-size: cover;
  background-position: center center;
}

.chee-yun {
  background-image: url('chee-yun.png');
  background-size: cover;
  background-position: center center;
}

.wow-iss {
  background-image: url('wow-iss.png');
  background-size: cover;
  background-position: center center;
}

.me {
  background-color: #5c5b5b;
}

.scroll {
  width: 50px;
  height: 50px;
}

.technologies-container {
  display: flex;
  justify-content: center;
}

.technologies {
  max-width: 30px;
  max-height: 30px;
  margin: 0 5px;
}

.card-checkbox:first-of-type+.card,
.card-checkbox:first-of-type:checked~.card-checkbox:nth-of-type(2)+.card {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg) translateX(-50%);
  z-index: 2;
  /* background-color: #fcfaf1; */
}

.card-checkbox:nth-of-type(2)+.card,
.card-checkbox:first-of-type:checked~.card-checkbox:nth-of-type(3)+.card,
.card-checkbox:nth-of-type(2):checked~.card-checkbox:nth-of-type(3)+.card {
  z-index: 1;
  -webkit-transform: rotate(0);
  transform: rotate(0) translateX(-50%);
  /* background-color: #eee; */
}

.card-checkbox:checked+.card {
  margin-top: -300px;
  -webkit-transform: rotate(0) translateX(-50%);
  transform: rotate(0) translateX(-50%);
  top: 70%;
  /* background-color: #fff; */
  z-index: -2;
}

/* OVERRIDING BOOTSTRAP STYLES */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}

.menu {
  display: flex;
}

.dropdown-menu {
  background-color: #171515;
}

.dropdown-item {
  color: white;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #888888;
}

/* YELLOW BUTTON */
.btn {
  background-color: #e6b31e;
  font-weight: bold;
  color: #0b3142;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 0px #a88416, 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 0px #a88416, 0px 3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 0px #a88416, 0px 3px 15px rgba(0, 0, 0, 0.4);
}

/* PROJECTS BUTTON */

.btn-external {
  margin: 0 auto;
  color: white;
  background-color: #4aac4a;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 0px #337733, 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 0px #337733, 0px 3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 0px #337733, 0px 3px 15px rgba(0, 0, 0, 0.4);
}

.btn-resume {
  margin: 20px 0;
}

.btn-external:visited {
  color: white;
}

.btn-external a:visited {
  color: white;
}

.btn-next {
  margin: 0 auto;
  margin-top: 10px;
  background-color: #547ae2;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 0px #3c56a0, 0px 3px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 0px #3c56a0, 0px 3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 0px #3c56a0, 0px 3px 15px rgba(0, 0, 0, 0.4);
}

.btn-next:visited {
  color: white;
}

@media only screen and (min-height: 800px) {
  .description {
    display: block;
    max-height: 250px;
  }
}

@media only screen and (min-height: 800px) {
  .card-checkbox:checked+.card {
    margin-top: -240px;
    -webkit-transform: rotate(0) translateX(-50%);
    transform: rotate(0) translateX(-50%);
    top: 50%;
    /* background-color: #fff; */
  }
}

@media only screen and (min-height: 800px) and (min-width: 600px) {
  .card {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 600px) {
  .card {
    padding-top: 90px;
    font-size: 1rem;
  }

  .page-title h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .card {
    padding-top: 90px;
    font-size: 1.2rem;
  }

  .page-title h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 950px) {
  .card {
    padding: 0 120px;
    padding-top: 60px;
    font-size: 1.2rem;
    width: 60%;
  }

  .page-title h1 {
    font-size: 2.5rem;
  }

  .technologies-container {
    margin-top: 20px;
  }

  .technologies {
    max-width: 60px;
    max-height: 60px;
    margin: 0 10px;
  }

  .about-me {
    font-size: 1.2rem;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 950px) and (min-height: 799px) {
  .btn-external {
    padding: 5px 20px;
    font-size: 1.25rem;
  }

  .btn-next {
    padding: 5px 20px;
    font-size: 1.25rem;
  }
}

@media only screen and (max-height: 620px) {
  .card-checkbox:checked+.card {
    margin-top: -160px;
    -webkit-transform: rotate(0) translateX(-50%);
    transform: rotate(0) translateX(-50%);
    top: 50%;
    /* background-color: #fff; */
  }

  .btn-external,
  .btn-next {
    margin-top: 0;
    font-size: 0.9rem;
    padding: 4px 8px;
  }
}

@media only screen and (max-width: 990px) {
  .bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}